#pageContain { overflow: hidden; }
.page { display: none; overflow: hidden; position: absolute; top: 0; left: 0; width: 100%; height: 100%; max-width:76.8rem; }
.contain {  display: none;
			position: relative;
			z-index: 0;
			width: 100%;
			height: 100%; };
.current .contain,.slide .contain { display: block; }
.current { display: block; z-index: 1; }
.slide { display: block; z-index: 2; }
.swipe { display: block; z-index: 3; transition-duration: 0ms !important; -webkit-transition-duration: 0ms !important; }
#navBar { display:none;}


.page1{
	/*background-image: url("../images/page1_Bg.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;*/
}

.background{
	width: 300%;
	position: absolute;
	left: -5%;
	top: -15%;
	z-index: -1;
}

.target_1{
	position: absolute;
	width: 100px;
	height: 225px;
	left: 145px;
	top: 120px;
	background-image: url("../images/target_1.png");
	border-radius: 25%;
	-webkit-background-size: 80%;
	background-size: 80%;
	background-repeat: no-repeat;
	z-index: 2;
}

.target_2{
	position: absolute;
	width: 100px;
	height: 225px;
	left: 145px;
	top: 120px;
	background-image: url("../images/target_2.png");
	border-radius: 25%;
	-webkit-background-size: 80%;
	background-size: 80%;
	background-repeat: no-repeat;
	z-index: 2;
}

.dialogue{
	background-image: url("../images/dialogue.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 300px;
	height: 350px;
	left: 50px;
	top: 200px;
}

.dialogue p{
	position: relative;
	left: 30%;
	top: 35%;
	font-size: 30px;
	font-weight: bolder;
	color: #bb274a;
}

.hide{
	display: none;
}

.student{
	position: absolute;
	width: 300px;
	height: 450px;
	left: 300px;
	bottom: -200px;
	background-image: url("../images/student.png");
	border-radius: 25%;
	-webkit-background-size: 35%;
	background-size: 35%;
	background-repeat: no-repeat;
	z-index: 2;
}

.student_angry{
	position: absolute;
	width: 300px;
	height: 450px;
	left: 250px;
	bottom: -200px;
	background-image: url("../images/student_angry.png");
	border-radius: 25%;
	-webkit-background-size: 35%;
	background-size: 35%;
	background-repeat: no-repeat;
	z-index: 2;
}

.bottle{
	position: absolute;
	width: 140px;
	height: 60px;
	left: 50px;
	top: 150px;
	background-image: url("../images/bottle.png");
	z-index: 3;
}

.water{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 50px;
	top: 5px;
	background-image: url("../images/water.png");
	z-index: 3;
}

@keyframes rotatingbg{
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

@-webkit-keyframes rotatingbg{
	from {transform: rotate(0deg);
		  -webkit-transform:rotate(0deg)}
	to {transform: rotate(360deg);
		-webkit-transform:rotate(360deg)}
}

.rotating{
	animation: rotatingbg 30s infinite;
	-webkit-animation: rotatingbg 30s infinite;}
}

