
/*MAIN CSS*/

.backround{
	width: 100%;
	height: 100%;
	max-width: 640px;
	background-image: url('../images/bg.png');
	background-repeat: no-repeat;
	-webkit-background-size: 180%;
	background-size: 180%;
	background-position: top;
	z-index: -2;
}



.face_1{
	width: 100px;
	height: 100px;
	background-image: url('../images/face_1.png');
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	z-index: 2;
	position: relative;
	top: 100px;
	left: 50px;
}

.body{
	width: 150px;
	height: 300px;
	background-image: url('../images/body.png');
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	z-index: 1;
	position: relative;
	top: -10px;
	left: 45px;
}

.student{
	width: 100px;
	height: 200px;
	background-image: url('../images/student.png');
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	position: relative;
	top: -20px;
	left: 200px;
}

.water{
	display: block;
	width: 50px;
	height: 50px;
	background-image: url('../images/water.png');
	background-repeat: no-repeat;
	position: relative;
	left: 50px;
}

.dialogue{

}